---
const { type, containerClass, idName, val, labelTitle } = Astro.props
---

<div class="input-container">
	<label class="input-container__label" for={idName}>{labelTitle}</label>
	<div class={containerClass}>
		<div class="input-container__prefix">{val}</div>
		<input type={type} id={idName} class="input-container__input" value="" />
	</div>
</div>

<style>
	.input-container {
		margin: 1em 0;
	}

	.input-container__label {
		color: var(--color--slate-700);
	}

	.input-container__section {
		margin-top: 5px;
		display: flex;
		border: 0.5px solid var(--color--slate-900);
		border-radius: 4px;
		overflow: hidden;
	}

	.input-container__section--reversed {
		margin-top: 5px;
		display: flex;
		flex-direction: row-reverse;
		border: 0.5px solid var(--color--slate-900);
		border-radius: 2px;
		overflow: hidden;
	}

	@media screen and (min-width: 768px) {
		.input-container__section--reversed {
			width: 300px;
		}
	}

	@media screen and (min-width: 1000px) {
		.input-container__section--reversed {
			width: 210px;
		}
	}

	.input-container__prefix {
		display: flex;
		align-items: center;
		background-color: var(--color--slate-100);
		width: fit-content;
		padding: 0.5em 1em;
		font-family: "Jakarta Bold";
		color: var(--color--slate-700);
	}

	.input-container__input {
		height: 3em;
		border: none;
		width: 100%;
	}
</style>
